* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  /* background: rgb(67, 120, 250); */
  background: linear-gradient(
    90deg,
    rgba(67, 120, 250, 1) 0%,
    rgba(11, 11, 168, 1) 35%,
    rgba(43, 18, 98, 1) 100%
  );
  padding: 5px;
}

#sideBar {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

#mainDisplay {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

#cityInput {
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0px;
  width: 180px;
  border: rgb(147, 142, 142) solid 1px;
}

#submitCitySearch {
  color: white;
  font-weight: bold;
  background-color: rgb(67, 120, 250);
  border: none;
  border-radius: 4px;
  padding: 5px;
  /* padding: 5px 70px; */
  margin: 10px 0px;
  width: 180px;
  cursor: pointer;
}

.previousSearch {
  background-color: rgb(191, 188, 188);
  border: none;
  border-radius: 4px;
  padding: 5px;
  /* padding: 5px 70px; */
  margin: 10px 0px;
  width: 180px;
}
